
main {
    max-width: 1024px;
    margin: 30px auto;
    padding: 30px 40px 20px;
    border-radius: 2px;
}

li {
    list-style-type: square;
}

h1 {
    font-size: 40px;
}

.photo {
    float: right;
    margin-right: 30px;
    margin-top: 40px;
    border-radius: 4px;
    width: 300px; 
    height: 300px;
}